@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.cabecalho{
    text-align: center;
    padding: 2em;
    background-color: rgb(255, 251, 0);
}

.cabecalho__texto{
    font-size: 1.5em;
    padding: 1em;
    font-weight: 300;
}


